@model IEnumerable<KT01.Models.BaiHat>

@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>ShowAll</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<p>Số bài hát: @ViewBag.Count</p>
@Html.ActionLink("SORT BY NAME", "SortByName", null, htmlAttributes: new { @class = "btn btn-primary"})
@Html.ActionLink("SHOW ALL", "ShowAll", null, htmlAttributes: new { @class = "btn btn-primary" })      